[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/franco/Desktop/ocaml-challenge]
row=4
col=0

[221A06CE1A069F43]
row=1
col=0

[Trash]
row=0
col=0

[/]
row=2
col=0

[/home/franco]
row=3
col=0

